<div class="upsell-carousel-wrapper outlined-block mt-4">
	<div class="row">
		<div class="col-12 text-center" style="position: relative;">
			<div class="upsell-carousel-wrapper-header">
				<h1 class="py-3 mb-0">Complete Your Set</h1>
				<a href="#1" role="button" class="upsell-carousel-control-prev" data-bs-target="#upsell-carousel" data-bs-slide="prev">PREV</a>
  				<a href="#1" role="button" class="upsell-carousel-control-next" data-bs-target="#upsell-carousel" data-bs-slide="next">NEXT</a>
			</div>
		</div>
	</div>
	<div id="upsell-carousel" class="carousel slide w-100" data-bs-ride="carousel" data-bs-interval="false">
  		<div class="carousel-inner">
    		<div class="carousel-item active"><div id="upsell-1"></div></div>
    		<div class="carousel-item"><div id="upsell-2"></div></div>
    		<div class="carousel-item"><div id="upsell-3"></div></div>
  		</div>
	</div>
</div>