<div class="row diagram-graphic pb-5">
  <div class="col-12 text-center">
  	<img src="{{ '2021_Lobster_snowboard_tech_shape_3D_PROFILE_HALLDOR.png' | asset_img_url: 'master' }}" class="img-fluid">
  </div>
  <div class="col-6 diagram-title text-center">
  	<img src="{{ '2021_Lobster_snowboard_tech_3D_SURFACE_KEY.png' | asset_img_url: 'master' }}" style="width:100px;">
    <h3>Triple Base™</h3>
  </div>
   <div class="col-6 diagram-title text-center">
  	<img src="{{ '2021_Lobster_snowboard_tech_SIDEKICK_KEY.png' | asset_img_url: 'master' }}" style="width:100px;">
    <h3>Sidekick™</h3>
  </div>
  <div class="col-12 diagram-description">
	<p>Triple Base Technology™ divides the nose and tail in 3 flat section with
an increased sidelift from outside the inserts towards the tips. The
3BT™ advantages are increased by the SideKick™.</p>
  </div>
</div>