<div class="row ingredient-graphic">
  <div class="col-12 mb-3">
    <div class="row align-items-center">
      <div class="col-3">
  		<img src="{{ '2021_Lobster_snowboard_tech_ingredients_ULTRA_GLIDE_S_Base.png' | asset_img_url: 'master' }}" class="img-fluid">
      </div>
  		<div class="col-9 diagram-description">
			<p><h3>BASE - ULTRA GLIDE S</h3>Maximum molecular content for a hardened sintered base that hauls ass. More molecules mean a denser base that can take a beating using ISO-Sport 7000 series as backbone.</p>
  		</div>
  	</div>
  </div>
</div>