<div class="row diagram-graphic pt-5 pb-5">
  
  <div class="col-12 mb-3">
    <div class="row align-items-center">
      <div class="col-3">
  		<img src="{{ '2021_Lobster_snowboard_tech_ingredients_CARBON_LAYUP_ICON_Additionals.png' | asset_img_url: 'master' }}" class="img-fluid">
      </div>
      <div class="col-9">
    	<h4>Carbon<br />Stringers</h4>
      </div>
  	</div>
  </div>

  <div class="col-12">
  	<img src="{{ '2021_Lobster_snowboard_tech_shape_CARBON_LAYUP_SHAPE1_CREAM.png' | asset_img_url: 'master' }}" class="img-fluid">
  </div>

  <div class="col-12 diagram-title">
    <h3>CARBON LAYUP</h3>
  </div>
  <div class="col-12 diagram-description">
	<p>This Carbon Layup configuration adds longtitudinal stifness to the
nose and tail area’s while keeping the board torsionally softer between
the bindings. This will help keeping the nose from folding in high speed
run and makes your oliies pop as high as possible while keeping the
board nice and responsive between the feet.</p>
  </div>
</div>