<div class="row diagram-graphic pb-5">
  <div class="col-12">
  	<img src="{{ '2021_LOBSTER_CAMBER_PROFILE_DYNAMIC.png' | asset_img_url: 'master' }}" class="img-fluid">
  </div>
  <div class="col-12 pt-5">
    <h3>Dynamic Camber</h3>
  </div>
  <div class="col-12 diagram-description">
	<p>Our most aggressive tip-to-tail camber creates a more poppy ride: ollies go bigger, edge changes go faster and the board is spring loaded to help absorb landings. Combined with our unique 3D shaping it is less likely to hook up than equivalent cambers from other manufacturers.

  </div>
</div>