<div class="row ingredient-graphic">
  <div class="col-12 mb-3">
    <div class="row align-items-center">
      <div class="col-3">
  		<img src="{{ '2021_Lobster_snowboard_tech_ingredients_TRIAX_Laminate.png' | asset_img_url: 'master' }}" class="img-fluid">
      </div>
  		<div class="col-9 diagram-description">
			<p>GLASS FIBRE - TRIAX<br>Our three-way weave of fiberglass is light, strong and responsive. We use this to beef up the flex pattern.</p>
  		</div>
  	</div>
  </div>


</div>