<div class="row diagram-graphic">
  <div class="col-12">
  	<img src="{{ 'lobster-snowboards-2023-drop-3-shifter_tech_shape_carbon_layup.png' | asset_img_url: 'master' }}" class="img-fluid">
  </div>
  <div class="col-12 diagram-title">
    <h3>CARBON LAYUP</h3>
  </div>
  <div class="col-12 diagram-description">
	<p>This Carbon Layup configuration delivers the side flex of your bindgs
to the woodcore in a more direct way. Adding more feeling in transitions
and when pressing.</p>
  </div>
</div>