<div class="row ingredient-graphic">
  <div class="col-5">
  	<img src="{{ '2021_Lobster_apparel_tech_COTTON.png' | asset_img_url: 'master' }}" class="img-fluid">
  </div>
  <div class="col-7 my-auto ingredient-title">
    <h3 class="p-0">Cotton</h3>
  </div>
</div>
<p>Soft, all-natural and super breathable – there’s a reason cotton is the most popular clothing material on the planet. </p>