<div class="row diagram-graphic">
  <div class="col-12">
  	<img src="{{ '2021_Lobster_snowboard_tech_shape_OUTLINE_SHAPE_EIKI.png' | asset_img_url: 'master' }}" class="img-fluid">
  </div>
  <div class="col-12 pt-5">
    <h3>Twin</h3>
  </div>
  <div class="col-12 diagram-description">
	<p>Fast, fun, and versatile. these boards are the best way to get down the mountain with effortless float, high speed stability and top end performance. </p>
  </div>
</div>