<div class="row diagram-graphic">

  <div class="col-12 diagram-title">
    <h3>CARBON LAYUP</h3>
  </div>
  <div class="col-12 diagram-description">
    <p>This Carbon Layup configuration connects the toe- with the heel
      edge in the binding area. This creates a special board-dynamic that
      deliveres superiour control under your feet at high speeds without us
      having to crank up the longtitudial stiffness into the red zone.</p>
  </div>
  <div class="col-12">
    <img src="{{ '2021_Lobster_snowboard_tech_shape_CARBON_LAYUP_SHAPE1_HALLDOR.png' | asset_img_url: 'master' }}"
      class="img-fluid">
  </div>
</div>