<div class="row">
  
  <div class="col-12 mb-5">
    <div class="row align-items-center">
      <div class="col-3">
  		<img src="{{ '2021_Lobster_binding_tech_RUBBER_IMPACT_PADS.png' | asset_img_url: 'master' }}" class="img-fluid">
      </div>
      <div class="col-9">
    	<h3 class="p-0">RUBBER IMPACT PADS</h3>
		<p class="m-0">The corner points of any binding is usually where the most pressure builds up especially with high impact landings. This can be so intense that it can possible snap your board on those tail heavy landings. Because we bless these corners with high density rubbers you have much less chance of snapping your favourite board. </p>
      </div>
  	</div>
  </div>

</div>


