<div class="row">
  
  <div class="col-12 mb-5">
    <div class="row align-items-center">
      <div class="col-3">
  		<img src="{{ '2021_Lobster_binding_tech_CLEAN_FORWARD_LEAN.png' | asset_img_url: 'master' }}" class="img-fluid">
      </div>
      <div class="col-9">
    	<h3 class="p-0">CLEAN FORWARD LEAN</h3>
		<p class="m-0">Our design completely eliminate the ‘forward lean block’ most brand use. Making for a cleaner Forward lean geometry with no gap between the highjack and heel cup.</p>
      </div>
  	</div>
  </div>

</div>


