<div class="row">
    <div class="col-12 mb-5">
    <div class="row align-items-center">
      <div class="col-3">
  		<img src="{{ '2021_binding_feature_part_base_airbase.png' | asset_img_url: 'master' }}" class="img-fluid">
      </div>
      <div class="col-9">
    	<h3 class="p-0">Space Base</h3>
		<p class="m-0">Our flagship base is unique in snowboarding, seamlessly combining aluminum with the highest grade nylon composite. It’s stronger, lighter, fully adjustable and tool free. The minimized footprint aids board flex and offers unparalleled fit regardless of boot brand and size.</p>
      </div>
  	</div>
  </div>  
</div>