<div class="row diagram-graphic">
  <div class="col-md-12 text-left pt-5 pb-1">
    <div class="row">
      <div class="col-md-4">
        <!--
        <div class="col-3 style=float:top;">
          <img src="{{ '2021_Lobster_snowboard_tech_ingredients_carbon.png' | asset_img_url: 'master' }}"
            class="img-fluid">
        </div>
      -->
        <div class="col-12 diagram-description">
          <h3>CARBON LAYUP</h3>
          <p>The carbon stripes go from one insert pack to the other. it creates a strong a reliable platform in between
            your bindings. This will allow stability at high speed and in powerful turns while leaving the tip and tail
            soft and playfull for butters and presses.</p>
        </div>
      </div>
      <div class="col-md-8">
        <img src="{{ 'lobster-snowboards-2023-drop-3-stomper_tech_shape_carbon_layup.png' | asset_img_url: 'master' }}"
          class="img-fluid">
      </div>
    </div>
  </div>
</div>