<div class="row">
  
  <div class="col-12 mb-5">
    <div class="row align-items-center">
      <div class="col-3">
  		<img src="{{ '2021_Lobster_binding_tech_RUBBER_IMPACT_PADS.png' | asset_img_url: 'master' }}" class="img-fluid">
      </div>
      <div class="col-9">
    	<h3 class="p-0">RUBBER IMPACT PADS</h3>
		<p class="m-0">The corner points of any binding is usually where the most pressure builds up especially with high impact landings. This can be so intense that it can possible snap your board on those tail heavy landings. Because we bless these corners with high density rubbers you have much less chance of snapping your favourite board. </p>
      </div>
  	</div>
  </div>

  <div class="col-12 mb-5">
    <div class="row align-items-center">
      <div class="col-3">
  		<img src="{{ '2021_Lobster_binding_tech_BOOT_TO_BOARD_EVA.png' | asset_img_url: 'master' }}" class="img-fluid">
      </div>
      <div class="col-9">
    	<h3 class="p-0">BOOT TO BOARD EVA HEELPAD</h3>
		<p class="m-0"> We have eliminated all hard parts from under your heels. The heelpad in this binding is a full EVA cushion pad giving you the most protection possible. Nobody likes a heelbruise so  nothing but high impact foam between your boot and board. </p>
      </div>
  	</div>
  </div>

  <div class="col-12 mb-5">
    <div class="row align-items-center">
      <div class="col-3">
  		<img src="{{ '2021_Lobster_binding_tech_MINIDISK.png' | asset_img_url: 'master' }}" class="img-fluid">
      </div>
      <div class="col-9">
    	<h3 class="p-0">MINI DISK</h3>
		<p class="m-0"> The reduced size of the minidisk decreases the ‘deadzone’ in your board’s flex pattern allow for a binding that flexes more naturally with the board for a perfect connection and power transfer. </p>
      </div>
  	</div>
  </div>


</div>


