<div class="row ingredient-graphic">
  <div class="col-5">
  	<img src="{{ '2021_Lobster_apparel_tech_WINDPROOF.png' | asset_img_url: 'master' }}" class="img-fluid">
  </div>
  <div class="col-7 my-auto ingredient-title">
    <h3 class="p-0">Windproof</h3>
  </div>
</div>
<p>If it’s gusty on the hill, our windproof lining will provide an extra layer of shelter from the storm without sacrificing breathability.</p>