<div class="row">
    <div class="col-12 mb-5">
    <div class="row align-items-center">
      <div class="col-3">
  		<img src="{{ '2021_binding_feature_part_highback_flatback.png' | asset_img_url: 'master' }}" class="img-fluid">
      </div>
      <div class="col-9">
    	<h3 class="p-0">Tweaker HB</h3>
		<p class="m-0">The flat, asymmetrical shape delivers rapid heel-to-toe control while allowing plenty of lateral movement to lean into your presses and bone out those grabs. EVA padding helps soak up heavy landings. </p>
      </div>
  	</div>
  </div>  
</div>