<div class="row diagram-graphic">
  <div class="col-12">
  	<img src="{{ '2021_LOBSTER_CAMBER_PROFILE_MELLOW.png' | asset_img_url: 'master' }}" class="img-fluid">
  </div>
  <div class="col-12 pt-5">
    <h3>Mellow Camber</h3>
  </div>
  <div class="col-12 diagram-description">
	<p>Our unique 3D shape allows us to put full tip-to-tail traditional camber
this makes for a more poppy ride: ollies go bigger, edge-to-edge
switching goes faster and the board is always loaded to absorb landings.
  </div>
</div>