<div class="row">
  
  <div class="col-12 mb-5">
    <div class="row align-items-center">
      <div class="col-3">
  		<img src="{{ '2021_Lobster_binding_tech_AUXTECH.png' | asset_img_url: 'master' }}" class="img-fluid">
      </div>
      <div class="col-9">
    	<h3 class="p-0">AUX TECHNOLOGY</h3>
		<p class="m-0">This space age geometric strap material expands evenly around your boot when you crank it down, spreading the pressure while staying firmly in place. It’s also tough as hell.</div>
  	</div>
  </div>

</div>


