<div class="row">
    <div class="col-12 mb-5">
    <div class="row align-items-center">
      <div class="col-3">
  		<img src="{{ '2021_binding_feature_part_strap_Cocoon.png' | asset_img_url: 'master' }}" class="img-fluid">
      </div>
      <div class="col-9">
    	<h3 class="p-0">Cocoon Straps</h3>
		<p class="m-0">Cocoon Straps are flexible, pre-curved, and form fitting to hug the contours of any boot. The perforated mesh makes them more flexible and reduces pinch areas, while the outer strap disperses pressure evenly across the foot.</p>
      </div>
  	</div>
  </div>  
</div>