<div class="row ingredient-graphic">

  <div class="col-12 mb-3 pb-5">
    <div class="row align-items-center">
      <div class="col-6">
  		<img src="{{ '2021_Lobster_snowboard_tech_feature_SIDEKICK_technology.png' | asset_img_url: 'master' }}" class="img-fluid">
      </div>
  	</div>
  </div>
  <div class="col-9">
  	<h3>SIDEKICK</h3>
  </div>  
  <div class="col-12 diagram-description">
	<p>SideKick™ increases the sidebase uplift at the widest points of the nose and tail. This makes turn initiation even smoother, enhances float in powder and improves board handling in rough terrain. It has to be ridden to be believed!</p>
  </div>
  
</div>

