<div class="row ingredient-graphic">
  
  <div class="col-12 mb-3">
    <div class="row align-items-center">
      <div class="col-3">
  		<img src="{{ '2021_Lobster_binding_tech_ADJUSTABLE_GEO.png' | asset_img_url: 'master' }}" class="img-fluid">
      </div>
      <div class="col-9">
    	<h3 class="p-0">Adjustable Geometry</h3>
      </div>
  	</div>
  </div>

  <div class="col-12 diagram-description">
	<p>With multiple attachment positions on both ladders you can customise the geometry of your binding perfectly. Go for a higher heel strap placement for a more solid ride with your boot being held more backwards into the heelcup. Or place the straps lower for a more downward directed force into the base for a looser skate-like feel</p>
  </div>
</div>