<div class="row">
    <div class="col-12 mb-5">
    <div class="row align-items-center">
      <div class="col-3">
  		<img src="{{ '2021_binding_feature_part_base_Bullitproof.png' | asset_img_url: 'master' }}" class="img-fluid">
      </div>
      <div class="col-9">
    	<h3 class="p-0">Solid Base</h3>
		<p class="m-0">The ORIGIN base is our solid foundation, but they're no mafia cement shoes. They're forged from a proprietary blend of nylon and glass fibre to yield optimum flex, response, cushioning and strength with minimal heft. The ORIGIN base is our proven platform that flexes well with your board.</p>
      </div>
  	</div>
  </div>  
</div>