<div class="row">
    <div class="col-12 mb-5">
    <div class="row align-items-center">
      <div class="col-3">
  		<img src="{{ '2021_binding_feature_part_padding_airpadding.png' | asset_img_url: 'master' }}" class="img-fluid">
      </div>
      <div class="col-9">
    	<h3 class="p-0">Space Pad</h3>
		<p class="m-0">This full EVA heel/toe pad helps dampen any vibrations when you’re maching it and cushions even the heaviest of landings. The angled toe ramp improves edge control.</p>
      </div>
  	</div>
  </div>  
</div>