<div class="row">
  
  <div class="col-12 mb-5">
    <div class="row align-items-center">
      <div class="col-3">
  		<img src="{{ '2021_Lobster_binding_tech_NO_BACK_READY.png' | asset_img_url: 'master' }}" class="img-fluid">
      </div>
      <div class="col-9">
    	<h3 class="p-0">NO BACK READY</h3>
		<p class="m-0">Did you know that Halldor’s preferred set up for riding park is without highbacks? Lobster bindings make it easy to experiment with no back riding since they pop out in seconds because of the tool-less construction. If you havent tried riding without highbacks you should now!</p>
      </div>
  	</div>
  </div>


</div>


