<div class="row">
  
  <div class="col-12 mb-5">
    <div class="row align-items-center">
      <div class="col-3">
  		<img src="{{ '2021_Lobster_binding_tech_READY2TWEAK.png' | asset_img_url: 'master' }}" class="img-fluid">
      </div>
      <div class="col-9">
    	<h3 class="p-0">READY2TWEAK</h3>
		<p class="m-0">Eiki’s preferred Higback shape has a flat geometry making it easy to tweak sideways while maintaining direct pressure to the heel side.</p>
      </div>
  	</div>
  </div>

</div>

