<div class="row diagram-graphic pb-5">
  <div class="col-12 text-center">
  	<img src="{{ 'lobster-snowboards-2023-drop-3-halldor-tech-shape-3d-heatmap.png' | asset_img_url: 'master' }}" class="img-fluid">
  </div>
  <!--
  <div class="col-6 diagram-title text-center">
  	<img src="{{ '2021_Lobster_snowboard_tech_3D_SURFACE_KEY.png' | asset_img_url: 'master' }}" style="width:100px;">
    <h3>Triple Base™</h3>
  </div>
   <div class="col-6 diagram-title text-center">
  	<img src="{{ '2021_Lobster_snowboard_tech_SIDEKICK_KEY.png' | asset_img_url: 'master' }}" style="width:100px;">
    <h3>Sidekick™</h3>
  </div>
-->
<div class="col-12 pt-5">
  <h3>3D Profile</h3>
</div>
<div class="col-12 diagram-description">
<p>The nose and tail have a 3D shape with the uplift starting at the end of
the contact area. The 3D advantages are increased by the SideKick™.</p>
</div>
</div>