<div class="row ingredient-graphic">
  <div class="col-9">
  	<h3>TRIPLE BASE TECHNOLOGY</h3>
  </div>   
  <div class="col-12">
    <div class="row align-items-center">
      <div class="col-10">
  		<img src="{{ '2021_Lobster_snowboard_tech_feature_TRIPLEBASE_technology.png' | asset_img_url: 'master' }}" class="img-fluid">
      </div>
  	</div>
  </div>

  <div class="col-12 diagram-description">
	<p>Triple Base Technology™ is awesome. The lifted sidebase areas  hug the terrain when you crank a turn or jam into a transition, and help you plough through the pow like a speedboat. You’re also way less likely to catch an edge if you sketch out on your landing.</p>
  </div>
  
</div>
