<div class="row">
  
  <div class="col-12 mb-5">
    <div class="row align-items-center">
      <div class="col-3">
  		<img src="{{ '2021_Lobster_binding_tech_READY2TWEAK.png' | asset_img_url: 'master' }}" class="img-fluid">
      </div>
      <div class="col-9">
    	<h3 class="p-0">READY2TWEAK</h3>
		<p class="m-0">Eiki’s preferred Higback shape has a flat geometry making it easy to tweak sideways while maintaining direct pressure to the heel side.</p>
      </div>
  	</div>
  </div>

  <div class="col-12 mb-5">
    <div class="row align-items-center">
      <div class="col-3">
  		<img src="{{ '2021_Lobster_binding_tech_FLEX_FIT.png' | asset_img_url: 'master' }}" class="img-fluid">
      </div>
      <div class="col-9">
    	<h3 class="p-0">FLEX FIT</h3>
		<p class="m-0">Lobster Heel straps are designed to fit perfectly around any kind of snowboard boot shape. When the straps are tensioned pressure is spread across the entire surface of the heelstrap reducing pressure points.</p>
      </div>
  	</div>
  </div>
  
  <div class="col-12 mb-5">
    <div class="row align-items-center">
      <div class="col-3">
  		<img src="{{ '2021_Lobster_binding_tech_OVERMOLD_BASE.png' | asset_img_url: 'master' }}" class="img-fluid">
      </div>
      <div class="col-9">
    	<h3 class="p-0">OVERMOLD BASE CONSTRUCTION</h3>
		<p class="m-0">No other binding in snowboarding is build this way. Lobster unique overmold construction marries super strong extruded aluminium with the forgiving flex of nylon glass fibre. Here is a bas that is as strong as it is comfortable. Never break a heelcup again!</p>
      </div>
  	</div>
  </div>

</div>

