<div class="row diagram-graphic">
  <div class="col-md-12 text-left pt-5 pb-1">
    <div class="row">
      <div class="col-md-4">
        <!--
        <div class="col-3 style=float:top;">
          <img src="{{ '2021_Lobster_snowboard_tech_ingredients_carbon.png' | asset_img_url: 'master' }}"
            class="img-fluid">
        </div>
      -->
        <div class="col-12 diagram-description">
          <h3>CARBON LAYUP</h3>
          <p>This Carbon Layup configuration adds longitudinal stiffness to the nose and tail area’s while keeping the
            board torsionally softer between the bindings. This will help keeping the nose from folding in high speed
            run and makes your ollies pop as high as possible while keeping the board nice and responsive between the
            feet.</p>
        </div>
      </div>
      <div class="col-md-8">
        <img src="{{ 'lobster-snowboards-2023-drop-3-creamer-tech_shape_carbon_layup.png' | asset_img_url: 'master' }}"
          class="img-fluid">
      </div>
    </div>
  </div>
</div>