<div class="row">
    <div class="col-12 mb-5">
    <div class="row align-items-center">
      <div class="col-3">
  		<img src="{{ '2021_binding_feature_part_highback_wrapback.png' | asset_img_url: 'master' }}" class="img-fluid">
      </div>
      <div class="col-9">
    	<h3 class="p-0">Reachround HB</h3>
		<p class="m-0">Developed by Halldor Helgason, these anatomically shaped highbacks provide comfortable boot and calf support to make those presses proper and help stick landings. They're slightly rotated and have adjustable forward lean for the perfect amount of response and control.</p>
      </div>
  	</div>
  </div>  
</div>