<div class="row">
  
  <div class="col-12 mb-5">
    <div class="row align-items-center">
      <div class="col-3">
  		<img src="{{ '2021_Lobster_binding_tech_TOOLLESS.png' | asset_img_url: 'master' }}" class="img-fluid">
      </div>
      <div class="col-9">
    	<h3 class="p-0">TOOLLESS</h3>
		<p class="m-0">The only tool you even need is the screw driver to attach these bindings to your board. Otherwise everything on this binding can be adjusted without a tool. No hardware also means saving weight.</p>
      </div>
  	</div>
  </div>

  <div class="col-12 mb-5">
    <div class="row align-items-center">
      <div class="col-3">
  		<img src="{{ '2021_Lobster_binding_tech_CLEAN_FORWARD_LEAN.png' | asset_img_url: 'master' }}" class="img-fluid">
      </div>
      <div class="col-9">
    	<h3 class="p-0">CLEAN FORWARD LEAN</h3>
		<p class="m-0">Our design completely eliminate the ‘forward lean block’ most brand use. Making for a cleaner Forward lean geometry with no gap between the highjack and heel cup.</p>
      </div>
  	</div>
  </div>

  <div class="col-12 mb-5">
    <div class="row align-items-center">
      <div class="col-3">
  		<img src="{{ '2021_Lobster_binding_tech_NO_BACK_READY.png' | asset_img_url: 'master' }}" class="img-fluid">
      </div>
      <div class="col-9">
    	<h3 class="p-0">NO BACK READY</h3>
		<p class="m-0">Did you know that Halldor’s preferred set up for riding park is without highbacks? Lobster bindings make it easy to experiment with no back riding since they pop out in seconds because of the tool-less construction. If you havent tried riding without highbacks you should now!</p>
      </div>
  	</div>
  </div>


</div>


