<div class="row ingredient-graphic">
  <div class="col-12 mb-3">
    <div class="row align-items-center">
     
      <div class="col-3 style=float:top;">
  		<img src="{{ '2021_Lobster_snowboard_tech_ingredients_CORE_CORE_Woodcorde.png' | asset_img_url: 'master' }}" class="img-fluid">
      </div>
      <div class="col-9">
    	<p>WOODCORE - CORE CORE<br>A blend of poplar wood reinforced with two central hardwood stringers to enhance pop reinforce the camber and strengthen the insert area.</p>
      </div>
  	</div>
  </div>
<!--
  <div class="col-12 diagram-description">
	<p>WOODCORE - CORE CORE<br>A blend of poplar wood reinforced with two central hardwood stringers to enhance pop reinforce the camber and strengthen the insert area.</p>
  </div>
-->
</div>