<div class="row ingredient-graphic">
   <div class="col-9">
  	<h3 class="pb-2">CARBON LAYUP</h3>
  </div>  
  <div class="col-12 mb-3">
    <div class="row align-items-center">
      <div class="col-3">
  		<img src="{{ '2021_Lobster_snowboard_tech_ingredients_CARBON_LAYUP_ICON_Additionals.png' | asset_img_url: 'master' }}" class="img-fluid">
      </div>
      <div class="col-9">
    	<h3 class="p-0">Carbon Layup</h3>
      </div>
  	</div>
  </div>

  <div class="col-12 diagram-description">
	<p>Carbon stingers can make
a significant difference in how a
board performs. By positioning strips
of carbon fiber we can fine-tune
the flex, pop, edge hold, response,
dampening and add an extra layer of
awesomeness to your ride.</p>
  </div>
</div>