<div class="row">
  
  <div class="col-12 mb-5">
    <div class="row align-items-center">
      <div class="col-3">
  		<img src="{{ '2021_Lobster_binding_tech_EASY_ACCESS_LADDERS.png' | asset_img_url: 'master' }}" class="img-fluid">
      </div>
      <div class="col-9">
    	<h3 class="p-0">EAZY ACCESS</h3>
		<p class="m-0">The pre curved ladders make your straps naturally fall open and to the side so they are not in the way when you want to get your boot in there. Your friends will never have to wait on you to strap in any longer!</p>
      </div>
  	</div>
  </div>

</div>


