<div class="row">
  
  <div class="col-12 mb-5">
    <div class="row align-items-center">
      <div class="col-3">
  		<img src="{{ '2021_Lobster_binding_tech_REACH_AROUND.png' | asset_img_url: 'master' }}" class="img-fluid">
      </div>
      <div class="col-9">
    	<h3 class="p-0">REACH-AROUND HIGHBACK</h3>
		<p class="m-0">Halldor’s preferred highback is the Reach-Around. He swears by this shape as it is the only highback that can stand up to the power of his stomp. The extra wrap on the outside of your boots makes it perfect for transitioning extra power into your pop and presses. </p>
      </div>
  	</div>
  </div>
  
</div>

